<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">




        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/accueilcom" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/comrdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Gest. RDV
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/devis" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/devis.jpg" width="85" height="70" />
                                </i> Devis
                            </a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/actcommerciale" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commercial.jpg" width="85" height="70" />
                                </i> Act. commerciale
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/comrap" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rapportpng.png" width="85" height="70" />
                                </i> Gest. RAPPORT
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gcommercial/comagenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#/gcommercial/performance" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/performances.jpg" width="85" height="70" />
                                </i> Performance
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#" role="tablist">
                                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85"
                                        height="70" /></i> Param&egrave;tres
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <!--  Add -->
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatableMy"
                                class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%"
                                *ngIf="this.getMyPerform">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Ann&eacute;e</th>
                                        <th>Mois</th>
                                        <th>Objectif</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let donnee of listeMyPerformTeam">
                                        <td>{{ donnee.libperf }}</td>
                                        <td>{{ donnee.an }}</td>
                                        <td>{{ donnee.libmois }}</td>
                                        <td>{{ donnee.valeur }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>

            </div>


        </div>


    </div>
</div>