<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">

        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/accueil" role="tablist">
                                <i class="material-icons">

                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />

                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#/directeur/collaborateur" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commercial.png" width="85" height="70" />
                                </i> Collaborateurs
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/rdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Invitation. RDV
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/rapport" role="tablist">
                                <i class="material-icons"><img src="assets/img/rapportpng.png" width="85"
                                        height="70" /></i> Rapports
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/agenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/reunion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/reunion.jpg" width="85" height="70" />
                                </i> R&eacute;union
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeur/performance" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/performances.jpg" width="85" height="70" />
                                </i> Performance
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85"
                                        height="70" /></i> Param&egrave;tres
                            </a>
                        </li>





                    

                        

 
                        
                    </ul>
                </div>
            </div>
        </div>



        <!--  Add -->
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%" *ngIf="this.getListeCom">
                                <thead>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Profil</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th class="disabled-sorting text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let commerciaux of listeCommerciaux">
                                        <td>{{ commerciaux.nom }}</td>
                                        <td>{{ commerciaux.prenom }}</td>
                                        <td>{{ commerciaux.email }}</td>
                                        <td>{{ commerciaux.contact }}</td>
                                        <td class="text-center">

                                            <a title="Afficher les statistiques" target="_blank" 
                                            href="#/directeur/userdetails/{{commerciaux.contact}}"
                                                    class="btn btn-link btn-success btn-just-icon edit"><i
                                                        class="material-icons">monitoring</i></a>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>

            </div>
        </div>


    </div>



</div>