<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Renseigner les donn&eacute;es des performances</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="get" action="/" class="form-horizontal">
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Donn&eacute;es</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-lg-10 col-md-8 col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Collaborateur"
                                                    [(value)]="userId" name="collaborateur">
                                                    <mat-option *ngFor="let donnee of listeCommerciaux"
                                                        [value]="donnee.iduser">
                                                        {{ donnee.nom }}&nbsp;{{ donnee.prenom }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-lg-5 col-md-8 col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Choix" [(value)]="performance.choix"
                                                    name="choix">
                                                    <mat-option [value]="1">Performance annuelle</mat-option>
                                                    <mat-option [value]="0">Performance mensuelle</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-lg-5 col-md-8 col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Ann&eacute;e" [(value)]="performance.annee"
                                                    name="annee">
                                                    <mat-option *ngFor="let donnee of listeAnne" [value]="donnee.idan">
                                                        {{ donnee.valeur }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-lg-5 col-md-8 col-sm-4">
                                            <mat-form-field>
                                                <mat-select placeholder="Mois" [(value)]="performance.mois" name="mois">
                                                    <mat-option *ngFor="let donnee of listeMois" [value]="donnee.idm">
                                                        {{ donnee.libelle }}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                        <div class="col-md-5">
                                            <mat-form-field class="example-full-width">
                                                <input matInput [(ngModel)]="performance.valeur" name='valeur'
                                                    type="text" placeholder="Valeur : 15">
                                            </mat-form-field>
                                        </div>



                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div style="text-align: center; width: 100%; color:red; font-weight: bold;" id="infos">
                                </div>
                            </div>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="enregistrerPerf()" id="butenreg"
                            class="btn btn-info">Enregistrer</button> <!-- data-dismiss="modal"  -->
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/accueil" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/rdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Gest. RDV
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/actcommerciale" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commercial.jpg" width="85" height="70" />
                                </i> Act. commerciale
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone" href="#/responsable/inspecteur" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/utilisateur.png" width="85" height="70" />
                                </i> Inspecteur
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/rapport" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rapportpng.png" width="85" height="70" />
                                </i> Gest. RAPPORT
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/agenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/responsable/reunion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/reunion.jpg" width="85" height="70" />
                                </i> R&eacute;union
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active icone" (click)="ouvrirzonegestion()" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/ajout.png" width="85" height="70" />
                                </i> Nouveau
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>



        <div>
            <div class="tab-content tab-space tab-subcategories">
                <div class="tab-pane active" id="link7">

                    <div class="col-md-12">
                        <div class="card ">

                            <div class="card-body ">
                                <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                            Inspecteur
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                            Mon compte
                                        </a>
                                    </li>
                                </ul>
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1">

                                        <div class="card">
                                            <div class="card-body">

                                                <div class="material-datatables">
                                                    <table id="datatables"
                                                        class="table table-striped table-no-bordered table-hover"
                                                        cellspacing="0" width="100%" style="width:100%"
                                                        *ngIf="this.getListeteam">
                                                        <thead>
                                                            <tr>
                                                                <th>Nom</th>
                                                                <th class="text-center">Type</th>
                                                                <th class="text-center">Ann&eacute;e</th>
                                                                <th class="text-center">Mois</th>
                                                                <th class="text-center">Objectif</th>
                                                                <th class="text-center">R&eacute;alis&eacute;</th>
                                                                <th class="disabled-sorting text-right">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let donnee of listePerformTeam">
                                                                <td style="font-weight: bold;">{{ donnee.employe }}</td>
                                                                <td *ngIf="donnee.libperf=='Performance mensuelle'" class="text-center" style="font-weight: bold; background-image: linear-gradient(#F1F9FA, 50%, #cfc37f);">
                                                                    {{ donnee.libperf }}</td>
                                                                <td *ngIf="donnee.libperf=='Performance annuelle'" class="text-center" style="font-weight: bold; background-image: linear-gradient(#F1F9FA, 50%, #7fcf92);">
                                                                    {{ donnee.libperf }}</td>
                                                                <td class="text-center">{{ donnee.an }}</td>
                                                                <td class="text-center">{{ donnee.libmois }}</td>
                                                                <td *ngIf="donnee.valeur==donnee.realise" class="text-center" style="font-weight: bold; background-image: linear-gradient(#F1F9FA, 50%, #c37356);">
                                                                    {{ donnee.valeur }}</td>
                                                                <td *ngIf="donnee.valeur!=donnee.realise" class="text-center" style="font-weight: bold; ">
                                                                    {{ donnee.valeur }}</td>
                                                                <td class="text-center" 
                                                                style="font-weight: bold; background-image: linear-gradient(#F1F9FA, 50%, #7f9dcf);">{{ donnee.realise }}</td>
                                                                <td class="text-right">
                                                                    <a title="Consulter les donn&eacute;es de R&eacute;union"
                                                                        (click)="affichePerformance( donnee.idper )"
                                                                        class="btn btn-link btn-warning btn-just-icon edit"><i
                                                                            class="material-icons">dvr</i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <!-- end content-->
                                        </div>
                                    </div>


                                    <div class="tab-pane" id="link2">
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="material-datatables">
                                                    <table id="datatableMy"
                                                        class="table table-striped table-no-bordered table-hover"
                                                        cellspacing="0" width="100%" style="width:100%"
                                                        *ngIf="this.getMyPerform">
                                                        <thead>
                                                            <tr>
                                                                <th>Type</th>
                                                                <th>Ann&eacute;e</th>
                                                                <th>Mois</th>
                                                                <th>Objectif</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let donnee of listeMyPerformTeam">
                                                                <td>{{ donnee.libperf }}</td>
                                                                <td>{{ donnee.an }}</td>
                                                                <td>{{ donnee.libmois }}</td>
                                                                <td>{{ donnee.valeur }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                            <!-- end content-->
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>


        </div>


    </div>
</div>