<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">


        <div class="modal fade" id="modalAvorte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true" >
            <div class="modal-dialog" >
                <div class="modal-content" style="background-image: linear-gradient(#F1F9FA, 90%, #7EB3F2); ">
                    <div class="modal-header">
                        <h4 class="modal-title">Avorter le <span style="font-weight: bold;">devis</span></h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <p>Souhaitez-vous annuler le devis du client <span style="font-weight: bold;">{{ nomClient }}</span> ? </p>
                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="avorterDevis()" class="btn btn-danger"
                            >Confirmer</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/accueilsup" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/rdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Gest. RDV
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/devis" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/devis.jpg" width="85" height="70" />
                                </i> Devis
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone" href="#/gestion/portefeuille" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commercial.png" width="85" height="70" />
                                </i> Commercial
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/rapportcom" role="tablist">
                                <i class="material-icons"><img src="assets/img/rapportpng.png" width="85"
                                        height="70" /></i> Rapports
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/agenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/reunion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/reunion.jpg" width="85" height="70" />
                                </i> R&eacute;union
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/gestion/performance" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/performances.jpg" width="85" height="70" />
                                </i> Performances
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85"
                                        height="70" /></i> Param&egrave;tres
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  


        <!--   S E C T I O N     I N F O R M A T I O N    -->
        <div class="row">
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #7EB3F2); ">
                    <div class="card-header card-header-warning card-header-icon">
                        <!--<div class="card-icon">
                            <i class="material-icons">weekend</i>
                        </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;">Devis AUTO</p>
                        <h3 class="card-title">{{ statsdevisuser.auto }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-info">time_to_leave</i>AUTO
                            <!--<a href="#pablo">Get More Space...</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #10AF10); ">
                    <div class="card-header card-header-rose card-header-icon">
                        <!--<div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;" >Devis VOYAGE</p>
                        <h3 class="card-title">{{ statsdevisuser.voyage }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-success">airplanemode_active</i> VOYAGE
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #FA9E05); ">
                    <div class="card-header card-header-success card-header-icon">
                        <!--<div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;">Devis ACCIDENT</p>
                        <h3 class="card-title">{{ statsdevisuser.accident }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-warning">error</i> ACCIDENT  
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #93928F); ">
                    <div class="card-header card-header-info card-header-icon">
                        <!--<div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;">Devis MRH</p>
                        <h3 class="card-title">{{ statsdevisuser.mrh }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">fact_check</i> MRH
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #844a93); ">
                    <div class="card-header card-header-info card-header-icon">
                        <!--<div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;">Devis SANT&Eacute;</p>
                        <h3 class="card-title">{{ statsdevisuser.sante }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-primary">health_and_safety</i> SANT&Eacute;
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="card card-stats" style="background-image: linear-gradient(#F1F9FA, 97%, #0c0c0c); ">
                    <div class="card-header card-header-info card-header-icon">
                        <!--<div class="card-icon">
                        <i class="fa fa-twitter"></i>
                    </div>-->
                        <p class="card-category" style="color: black; font-weight: bold;">Total Devis</p>
                        <h3 class="card-title">{{ statsdevisuser.total }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">autorenew</i> Total;
                        </div>
                    </div>
                </div>
            </div>

        </div>



        <div class="tab-content tab-space tab-subcategories" style="padding-top: 0px; ">
            <div class="tab-pane active" id="link7" style="padding-top: 0px; ">

                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body ">
                            <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#link3" role="tablist">
                                        Automobile
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                                        Voyage
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                                        Accident
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
                                        MRH
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                                        SANTE
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="link3">

                                    <div class="card" style="border: 1px solid black;">
                                        <div class="card-body" >

                                            <div class="material-datatables" >
                                                <table id="datatableAuto"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th class="text-center">Secteur</th>
                                                            <th class="text-center">Dur&eacute;e</th>
                                                            <th class="text-center">Offre commerciale</th>
                                                            <th class="text-center">Cotation</th>
                                                            <th class="text-center">Date de cr&eacute;ation</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getAutoCommecial">
                                                        <tr *ngFor="let donnee of listeAutoClientBeanComAuto">
                                                            <td style="font-weight: bold;">{{ donnee.commercial }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.client }} </td>
                                                            <td class="text-center" >{{ donnee.secteur }}</td>
                                                            <td class="text-center" >{{ donnee.duree }}</td>
                                                            <td class="text-center" >{{ donnee.offre }}</td>
                                                            <td class="text-center" style="font-weight: bold; color: #2a2deb;" >{{ donnee.cout }}</td>
                                                            <td class="text-center" >{{ donnee.dates }}</td>
                                                            <td class="text-center">

                                                                <a title="Cl&ocirc;turer DEVIS"
                                                                    (click)="cloturerDevis( donnee.iddev, donnee.client )"
                                                                    class="btn btn-link btn-danger btn-just-icon edit"><i
                                                                        class="material-icons">delete_forever</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>

                                
                                <div class="tab-pane" id="link4">
                                    <div class="card" style="border: 1px solid black;">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatableVoyage"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th class="text-center">Cotation</th>
                                                            <th class="text-center">Destination</th>
                                                            <th class="text-center">Date retour</th>
                                                            <th class="text-center">Date de cr&eacute;ation</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getVoyageCommecial">
                                                        <tr *ngFor="let donnee of listeAutoClientBeanComVoyage">
                                                            <td style="font-weight: bold;">{{ donnee.commercial }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.client }} </td>
                                                            <td class="text-center" style="font-weight: bold; color: #2a2deb;">{{ donnee.cout }}</td>
                                                            <td class="text-center" >{{ donnee.duree }}</td>
                                                            <td class="text-center" >{{ donnee.offre }}</td>
                                                            <td class="text-center" >{{ donnee.dates }}</td>
                                                            <td class="text-center">

                                                                <a title="Cl&ocirc;turer DEVIS"
                                                                    (click)="cloturerDevis( donnee.iddev, donnee.client )"
                                                                    class="btn btn-link btn-danger btn-just-icon edit"><i
                                                                        class="material-icons">delete_forever</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="link5">
                                    <div class="card">
                                        <div class="card-body" style="border: 1px solid black;">

                                            <div class="material-datatables">
                                                <table id="datatableAccident"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th class="text-center">Secteur</th>
                                                            <th class="text-center">Cotation</th>
                                                            <th class="text-center">Date de cr&eacute;ation</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getAccidentCommecial">
                                                        <tr *ngFor="let donnee of listeAutoClientBeanComAccident">
                                                            <td style="font-weight: bold;">{{ donnee.commercial }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.client }} </td>
                                                            <td class="text-center" >{{ donnee.secteur }}</td>
                                                            <td class="text-center" style="font-weight: bold; color: #2a2deb;">{{ donnee.cout }}</td>
                                                            <td class="text-center" >{{ donnee.dates }}</td>
                                                            <td class="text-center">

                                                                <a title="Cl&ocirc;turer DEVIS"
                                                                    (click)="cloturerDevis( donnee.iddev, donnee.client )"
                                                                    class="btn btn-link btn-danger btn-just-icon edit"><i
                                                                        class="material-icons">delete_forever</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                
                                <div class="tab-pane" id="link6">
                                    <div class="card">
                                        <div class="card-body" style="border: 1px solid black;">

                                            <div class="material-datatables">
                                                <table id="datatableMrh"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th class="text-center">Secteur</th>
                                                            <th class="text-center">Formule</th>
                                                            <th class="text-center">Co&ucirc;t</th>
                                                            <th class="text-center">Date expiration</th>
                                                            <th class="text-center">Date de cr&eacute;ation</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getMrhCommecial">
                                                        <tr *ngFor="let donnee of listeAutoClientBeanComMrh">
                                                            <td style="font-weight: bold;">{{ donnee.commercial }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.client }} </td>
                                                            <td class="text-center" >{{ donnee.secteur }}</td>
                                                            <td class="text-center" >{{ donnee.duree }}</td>
                                                            <td class="text-center" style="color: #2a2deb; font-weight: bold;">
                                                                {{ donnee.cout }}</td>
                                                            <td class="text-center" >{{ donnee.offre }}</td>
                                                            <td class="text-center" >{{ donnee.dates }}</td>
                                                            <td class="text-center">

                                                                <a title="Cl&ocirc;turer DEVIS"
                                                                    (click)="cloturerDevis( donnee.iddev, donnee.client )"
                                                                    class="btn btn-link btn-danger btn-just-icon edit"><i
                                                                        class="material-icons">delete_forever</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <!--  SANTE  -->
                                <div class="tab-pane" id="link8">
                                    <div class="card" style="border: 1px solid black;">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatableSante"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    >
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th class="text-center">Cotation</th>
                                                            <th class="text-center">Formule</th>
                                                            <th class="text-center">Date de cr&eacute;ation</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="this.getSanteCommecial">
                                                        <tr *ngFor="let donnee of listeSanteClientBeanCom">
                                                            <td style="font-weight: bold;">{{ donnee.commercial }} </td>
                                                            <td style="font-weight: bold;">{{ donnee.client }} </td>
                                                            <td class="text-center" style="color: #2a2deb; font-weight: bold;">{{ donnee.secteur }}</td>
                                                            <td class="text-center" >{{ donnee.formule }}</td>
                                                            <td class="text-center" >{{ donnee.dates }}</td>
                                                            <td class="text-center">

                                                                <a title="Cl&ocirc;turer DEVIS"
                                                                    (click)="cloturerDevis( donnee.iddev, donnee.client )"
                                                                    class="btn btn-link btn-danger btn-just-icon edit"><i
                                                                        class="material-icons">delete_forever</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        


    </div>
</div>