<div class="main-content" style=" margin-top: 0px;">
  <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">


    <div class="row" style=" margin-top: 0px;">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="page-categories">
          <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

            <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/accueilcom" role="tablist">
                <i class="material-icons">
                  <img src="assets/img/icone_accueil.png" width="85" height="70" />
                </i> Accueil
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/comrdv" role="tablist">
                <i class="material-icons">
                  <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                </i> Gest. RDV
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/devis" role="tablist">
                  <i class="material-icons">
                      <img src="assets/img/devis.jpg" width="85" height="70" />
                  </i> Devis
              </a>
          </li>


          <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/actcommerciale" role="tablist">
                  <i class="material-icons">
                      <img src="assets/img/commercial.jpg" width="85" height="70" />
                  </i> Act. commerciale
              </a>
          </li>

            <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/comrap" role="tablist">
                <i class="material-icons">
                  <img src="assets/img/rapportpng.png" width="85" height="70" />
                </i> Gest. RAPPORT
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="#/gcommercial/comagenda" role="tablist">
                <i class="material-icons">
                  <img src="assets/img/agenda.jpg" width="85" height="70" />
                </i> Agenda
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#/gcommercial/performance" role="tablist">
                <i class="material-icons">
                  <img src="assets/img/performances.jpg" width="85" height="70" />
                </i> Performance
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#" role="tablist">
                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85" height="70" /></i>
                Param&egrave;tres
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>

    <div class="header text-center" style="margin-top: 40px;">
      <h3 class="title">Planning</h3>
      <!--<p class="category">Handcrafted by our friends from
          <a target="_blank" href="https://fullcalendar.io/">FullCalendar.io</a>. Please checkout their
          <a href="https://fullcalendar.io/docs/" target="_blank">full documentation.</a>
        </p>-->
    </div>
    <div class="row">
      <div class="col-md-10 ml-auto mr-auto">
        <div class="card card-calendar">
          <div class="card-body ">
            <div id="fullCalendar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>