<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">


        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" href="#/inspecteur/accueil" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/rdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Gest. RDV
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/actcommerciale" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/commercial.jpg" width="85" height="70" />
                                </i> Act. commerciale
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link icone" href="#/inspecteur/superviseur" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/utilisateur.png" width="85" height="70" />
                                </i> Superviseur
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/rapport" role="tablist">
                                <i class="material-icons"><img src="assets/img/rapportpng.png" width="85"
                                        height="70" /></i> Rapports
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/agenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/reunion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/reunion.jpg" width="85" height="70" />
                                </i> R&eacute;union
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/inspecteur/performance" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/performances.jpg" width="85" height="70" />
                                </i> Performance
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                  <i class="material-icons">data_usage</i>
                  </div>
                  <h4 class="card-title" style="font-size:18px">R&eacute;partition RDVs / Rapports / Devis</h4>
                </div>
                <div class="card-body">
                  <canvas id="piechartrdvrapportdevis" height="100"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-success">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">RDVs</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chartrdv" height="100"></canvas>
                    </div>
                </div>
            </div>

                
        </div>



        <div class="row">

            


            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-success">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">Devis</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chartdevis" height="100"></canvas>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card card-chart">
                  <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                    <i class="material-icons">timeline</i>
                    </div>
                    <h4 class="card-title" style="font-size:18px">Rapports</h4>
                  </div>
                  <div class="card-body">
                    <canvas id="chartrapport" height="100"></canvas>
                  </div>
                </div>
              </div>

                
        </div>



        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-warning">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">Performance RDV</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chartrdvperformance" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>