<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">



        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link" href="#/tresorier/accueil" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active" href="#/tresorier/statistiques" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/statistiques.jpeg" width="85" height="70" />
                                </i> Statistiques
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-icon card-header-info">
                  <div class="card-icon">
                  <i class="material-icons">data_usage</i>
                  </div>
                  <h4 class="card-title" style="font-size:18px">R&eacute;partition des devis cr&eacute;&eacute;s par type</h4>
                </div>
                <div class="card-body">
                  <canvas id="deviscrees" height="100"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-info">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">R&eacute;partition des devis cr&eacute;&eacute;s sur l'ann&eacute;e</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="barchartdeviscree" height="100"></canvas>
                    </div>
                </div>
            </div>
                
        </div>




        <!--  DEVIS PAYéS  -->
        <div class="row">

            <div class="col-md-6">
              <div class="card card-chart">
                <div class="card-header card-header-icon card-header-success">
                  <div class="card-icon">
                  <i class="material-icons">data_usage</i>
                  </div>
                  <h4 class="card-title" style="font-size:18px">R&eacute;partition des devis pay&eacute;s par type</h4>
                </div>
                <div class="card-body">
                  <canvas id="devispayes" height="100"></canvas>
                </div>
              </div>
            </div>


            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-icon card-header-success">
                        <div class="card-icon">
                            <i class="material-icons">timeline</i>
                        </div>
                        <h4 class="card-title" style="font-size:18px">R&eacute;partition des devis pay&eacute;s sur l'ann&eacute;e</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="barchartdevispayes" height="100"></canvas>
                    </div>
                </div>
            </div>
                
        </div>


    </div>
</div>