<div class="main-content" style=" margin-top: 0px;">
    <div class="container-fluid" style=" margin-top: 0px; padding-top: 0px;">



        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Zone de commentaire</h4>
                        <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="form-group">
                                <textarea placeholder="Renseigner un commentaire" [(ngModel)]="saisiecommentaire"
                                    class="form-control" rows="5"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button mat-raised-button type="button" (click)="validercoment()" class="btn btn-success"
                            data-dismiss="modal">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style=" margin-top: 0px;">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="page-categories">
                    <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link" href="#/directeuragj/accueil" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/icone_accueil.png" width="85" height="70" />
                                </i> Accueil
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeuragj/rdv" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/rdvweb.jpg" width="85" height="70" />
                                </i> Invitation. RDV
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#/directeuragj/rapport" role="tablist">
                                <i class="material-icons"><img src="assets/img/rapportpng.png" width="85"
                                        height="70" /></i> Rapports
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeuragj/agenda" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/agenda.jpg" width="85" height="70" />
                                </i> Agenda
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeuragj/reunion" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/reunion.jpg" width="85" height="70" />
                                </i> R&eacute;union
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#/directeuragj/performance" role="tablist">
                                <i class="material-icons">
                                    <img src="assets/img/performances.jpg" width="85" height="70" />
                                </i> Performance
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
                                <i class="material-icons"><img src="assets/img/parametrespng.png" width="85"
                                        height="70" /></i>
                                Param&egrave;tres
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="tab-content tab-space tab-subcategories">
            <div class="tab-pane active" id="link7">

                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body ">
                            <ul class="nav nav-pills nav-pills-warning" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                        Commerciaux
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link2" role="tablist">
                                        Superviseur
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link3" role="tablist">
                                        Inspecteur
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
                                        Responsable r&eacute;seau
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content tab-space">
                                <div class="tab-pane active" id="link1">

                                    <div class="card">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatables"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    *ngIf="this.getListeRapport">
                                                    <thead>
                                                        <tr>
                                                            <th>Commercial</th>
                                                            <th>Client</th>
                                                            <th>Date</th>
                                                            <th>Heure</th>
                                                            <th>Conclusion</th>
                                                            <th>Commentaire superviseur</th>
                                                            <!--<th class="disabled-sorting text-center">Actions</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let rapport of listeRapport">
                                                            <td>{{ rapport.commercial }}</td>
                                                            <td>{{ rapport.client }}</td>
                                                            <td>{{ rapport.dates }}</td>
                                                            <td>{{ rapport.heure }}</td>
                                                            <td>{{ rapport.nom }}</td>
                                                            <td>{{ rapport.contact }}</td>
                                                            <!--<td class="text-center">
                                  <a title="Commentaire" (click)="ouvrirzonecom( rapport.id )"
                                    class="btn btn-link btn-warning btn-just-icon edit"><i
                                      class="material-icons">dvr</i></a>
                                </td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>


                                <div class="tab-pane" id="link2">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatablesPerso"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    *ngIf="this.getRapportSuperv">
                                                    <thead>
                                                        <tr>
                                                            <th>Superviseur</th>
                                                            <th>Client</th>
                                                            <th>Date</th>
                                                            <th>Heure</th>
                                                            <th>Conclusion</th>
                                                            <th>Commentaire Inspecteur</th>
                                                            <!--<th class="disabled-sorting text-center">Actions</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let rapport of listeRapportSuperv">
                                                            <td>{{ rapport.commercial }}</td>
                                                            <td>{{ rapport.client }}</td>
                                                            <td>{{ rapport.dates }}</td>
                                                            <td>{{ rapport.heure }}</td>
                                                            <td>{{ rapport.nom }}</td>
                                                            <td>{{ rapport.contact }}</td>
                                                            <!--<td class="text-center">
                                                            <a title="Commentaire" (click)="ouvrirzonecom( rapport.id )"
                                                                class="btn btn-link btn-warning btn-just-icon edit"><i
                                                                class="material-icons">dvr</i></a>
                                                            </td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>



                                <div class="tab-pane" id="link3">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatablesPerso"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    *ngIf="this.getRapportInspec">
                                                    <thead>
                                                        <tr>
                                                            <th>Inspecteur</th>
                                                            <th>Client</th>
                                                            <th>Date</th>
                                                            <th>Heure</th>
                                                            <th>Conclusion</th>
                                                            <th>Commentaire Manager</th>
                                                            <!--<th class="disabled-sorting text-center">Actions</th>-->
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let rapport of listeRapportInspec">
                                                            <td>{{ rapport.commercial }}</td>
                                                            <td>{{ rapport.client }}</td>
                                                            <td>{{ rapport.dates }}</td>
                                                            <td>{{ rapport.heure }}</td>
                                                            <td>{{ rapport.nom }}</td>
                                                            <td>{{ rapport.contact }}</td>
                                                            <!--<td class="text-center">
                                                            <a title="Commentaire" (click)="ouvrirzonecom( rapport.id )"
                                                                class="btn btn-link btn-warning btn-just-icon edit"><i
                                                                class="material-icons">dvr</i></a>
                                                            </td>-->
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div> 
                                
                                

                                <div class="tab-pane" id="link4">
                                    <div class="card">
                                        <div class="card-body">

                                            <div class="material-datatables">
                                                <table id="datatablesPerso"
                                                    class="table table-striped table-no-bordered table-hover"
                                                    cellspacing="0" width="100%" style="width:100%"
                                                    *ngIf="this.getRapportManager">
                                                    <thead>
                                                        <tr>
                                                            <th>Responsable r&eacute;seau</th>
                                                            <th>Client</th>
                                                            <th>Date</th>
                                                            <th>Heure</th>
                                                            <th>Conclusion</th>
                                                            <th>Commentaire Dir. adj</th>
                                                            <th class="disabled-sorting text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        <tr *ngFor="let rapport of listeRapportManager">
                                                            <td>{{ rapport.commercial }}</td>
                                                            <td>{{ rapport.client }}</td>
                                                            <td>{{ rapport.dates }}</td>
                                                            <td>{{ rapport.heure }}</td>
                                                            <td>{{ rapport.nom }}</td>
                                                            <td>{{ rapport.contact }}</td>
                                                            <td class="text-center">
                                                            <a title="Commentaire" (click)="ouvrirzonecom( rapport.id )"
                                                                class="btn btn-link btn-warning btn-just-icon edit"><i
                                                                class="material-icons">dvr</i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- end content-->
                                    </div>
                                </div>  



                                


                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>




    </div>
</div>